

html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(211, 248, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {   
    flex: 1 0 auto; 
}

.img-thumbnail{

    max-width: 80px;
}
